# Created by .ignore support plugin (hsz.mobi)
.idea/inspectionProfiles/
.idea/workspace.xml
venv/Include/
venv/Lib/site-packages/numpy/__pycache__/
venv/Lib/site-packages/numpy/compat/__pycache__/
venv/Lib/site-packages/numpy/core/__pycache__/
venv/Lib/site-packages/numpy/core/tests/__pycache__/
venv/Lib/site-packages/numpy/distutils/__pycache__/
venv/Lib/site-packages/numpy/distutils/command/__pycache__/
venv/Lib/site-packages/numpy/distutils/fcompiler/__pycache__/
venv/Lib/site-packages/numpy/distutils/tests/__pycache__/
venv/Lib/site-packages/numpy/doc/__pycache__/
venv/Lib/site-packages/numpy/f2py/__pycache__/
venv/Lib/site-packages/numpy/f2py/tests/__pycache__/
venv/Lib/site-packages/numpy/fft/__pycache__/
venv/Lib/site-packages/numpy/fft/tests/__pycache__/
venv/Lib/site-packages/numpy/lib/__pycache__/
venv/Lib/site-packages/numpy/lib/tests/__pycache__/
venv/Lib/site-packages/numpy/linalg/__pycache__/
venv/Lib/site-packages/numpy/linalg/tests/__pycache__/
venv/Lib/site-packages/numpy/ma/__pycache__/
venv/Lib/site-packages/numpy/ma/tests/__pycache__/
venv/Lib/site-packages/numpy/matrixlib/__pycache__/
venv/Lib/site-packages/numpy/matrixlib/tests/__pycache__/
venv/Lib/site-packages/numpy/polynomial/__pycache__/
venv/Lib/site-packages/numpy/polynomial/tests/__pycache__/
venv/Lib/site-packages/numpy/random/__pycache__/
venv/Lib/site-packages/numpy/random/tests/__pycache__/
venv/Lib/site-packages/numpy/testing/__pycache__/
venv/Lib/site-packages/numpy/testing/nose_tools/__pycache__/
venv/Lib/site-packages/numpy/testing/tests/__pycache__/
venv/Lib/site-packages/numpy/tests/__pycache__/
venv/Lib/site-packages/scipy/__pycache__/
venv/Lib/site-packages/scipy/_build_utils/__pycache__/
venv/Lib/site-packages/scipy/_lib/__pycache__/
venv/Lib/site-packages/scipy/_lib/tests/__pycache__/
venv/Lib/site-packages/scipy/cluster/__pycache__/
venv/Lib/site-packages/scipy/cluster/tests/__pycache__/
venv/Lib/site-packages/scipy/constants/__pycache__/
venv/Lib/site-packages/scipy/constants/tests/__pycache__/
venv/Lib/site-packages/scipy/fftpack/__pycache__/
venv/Lib/site-packages/scipy/fftpack/tests/__pycache__/
venv/Lib/site-packages/scipy/integrate/__pycache__/
venv/Lib/site-packages/scipy/integrate/_ivp/__pycache__/
venv/Lib/site-packages/scipy/integrate/tests/__pycache__/
venv/Lib/site-packages/scipy/interpolate/__pycache__/
venv/Lib/site-packages/scipy/interpolate/tests/__pycache__/
venv/Lib/site-packages/scipy/io/__pycache__/
venv/Lib/site-packages/scipy/io/arff/__pycache__/
venv/Lib/site-packages/scipy/io/arff/tests/__pycache__/
venv/Lib/site-packages/scipy/io/harwell_boeing/__pycache__/
venv/Lib/site-packages/scipy/io/harwell_boeing/tests/__pycache__/
venv/Lib/site-packages/scipy/io/matlab/__pycache__/
venv/Lib/site-packages/scipy/io/matlab/tests/__pycache__/
venv/Lib/site-packages/scipy/io/tests/__pycache__/
venv/Lib/site-packages/scipy/linalg/__pycache__/
venv/Lib/site-packages/scipy/linalg/tests/__pycache__/
venv/Lib/site-packages/scipy/misc/__pycache__/
venv/Lib/site-packages/scipy/misc/tests/__pycache__/
venv/Lib/site-packages/scipy/ndimage/__pycache__/
venv/Lib/site-packages/scipy/ndimage/tests/__pycache__/
venv/Lib/site-packages/scipy/odr/__pycache__/
venv/Lib/site-packages/scipy/odr/tests/__pycache__/
venv/Lib/site-packages/scipy/optimize/__pycache__/
W
ould remove venv/Lib/site-packages/scipy/optimize/_lsq/__pycache__/
venv/Lib/site-packages/scipy/optimize/_trlib/__pycache__/
venv/Lib/site-packages/scipy/optimize/tests/__pycache__/
venv/Lib/site-packages/scipy/signal/__pycache__/
venv/Lib/site-packages/scipy/signal/tests/__pycache__/
venv/Lib/site-packages/scipy/sparse/__pycache__/
venv/Lib/site-packages/scipy/sparse/csgraph/__pycache__/
venv/Lib/site-packages/scipy/sparse/csgraph/tests/__pycache__/
venv/Lib/site-packages/scipy/sparse/linalg/__pycache__/
venv/Lib/site-packages/scipy/sparse/linalg/dsolve/__pycache__/
venv/Lib/site-packages/scipy/sparse/linalg/dsolve/tests/__pycache__/
venv/Lib/site-packages/scipy/sparse/linalg/eigen/__pycache__/
venv/Lib/site-packages/scipy/sparse/linalg/eigen/arpack/__pycache__/
venv/Lib/site-packages/scipy/sparse/linalg/eigen/arpack/tests/__pycache__/
venv/Lib/site-packages/scipy/sparse/linalg/eigen/lobpcg/__pycache__/
venv/Lib/site-packages/scipy/sparse/linalg/eigen/lobpcg/tests/__pycache__/
venv/Lib/site-packages/scipy/sparse/linalg/isolve/__pycache__/
venv/Lib/site-packages/scipy/sparse/linalg/isolve/tests/__pycache__/
venv/Lib/site-packages/scipy/sparse/linalg/tests/__pycache__/
venv/Lib/site-packages/scipy/sparse/tests/__pycache__/
venv/Lib/site-packages/scipy/spatial/__pycache__/
venv/Lib/site-packages/scipy/spatial/tests/__pycache__/
venv/Lib/site-packages/scipy/special/__pycache__/
venv/Lib/site-packages/scipy/special/_precompute/__pycache__/
venv/Lib/site-packages/scipy/special/tests/__pycache__/
venv/Lib/site-packages/scipy/stats/__pycache__/
venv/Lib/site-packages/scipy/stats/tests/__pycache__/
venv/Scripts/__pycache__/
